/* ===== Google Font ===== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@600;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    background:#0A192F;
    color:#CCD6F6;

    font-family:'Inter',sans-serif;

}

/* ================= NAVBAR ================= */

.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 25px 5%;

    background: #0A192F;

    z-index: 1000;
}

.logo{

    font-size:32px;
    font-weight:bold;
    color:#64FFDA;

    font-family:'Poppins',sans-serif;

}

.nav-links{

    display:flex;
    list-style:none;
    gap:40px;

}

.nav-links a{

    text-decoration:none;
    color:#CCD6F6;

    transition:.3s;

}

.nav-links a:hover{

    color:#64FFDA;

}

.resume-btn{

    text-decoration:none;

    color:#64FFDA;

    border:1px solid #64FFDA;

    padding:12px 22px;

    border-radius:5px;

    transition:.3s;

}

.resume-btn:hover{

    background:#64FFDA;
    color:#0A192F;

}


#about,
#skills,
#projects,
#contact{

    scroll-margin-top:100px;

}

/* ================= HERO SECTION ================= */

.hero{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    min-height: 90vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 60px;
    padding-top: 60px;
}


.hero-content{
    flex: 1;
}

.intro{
    color: #64FFDA;
    font-size: 18px;
    margin-bottom: 20px;
}

.hero h1{
    font-size: 70px;
    font-family: 'Poppins', sans-serif;
    color: #CCD6F6;
    line-height: 1.1;
}

.hero h2{
    font-size: 45px;
    color: #8892B0;
    margin-top: 10px;
    line-height: 1.2;
}

.hero-description{
    margin-top: 30px;
    font-size: 18px;
    line-height: 1.8;
    max-width: 600px;
    color: #8892B0;
}

.hero-buttons{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.btn-primary,
.btn-secondary{

    padding: 14px 30px;
    text-decoration: none;
    border-radius: 6px;
    transition: .3s;
    font-weight: 600;
}

.btn-primary{

    background: #64FFDA;
    color: #0A192F;
}

.btn-primary:hover{

    transform: translateY(-3px);
}

.btn-secondary{

    border: 1px solid #64FFDA;
    color: #64FFDA;
}

.btn-secondary:hover{

    background: #64FFDA;
    color: #0A192F;
}

.hero-image{

    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img{

    width:420px;
    max-width:100%;

    animation: float 2s ease-in-out infinite;
}

@keyframes float{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
        
    }

    100%{
        transform: translateY(0);
    }

}

/* ================= ABOUT ================= */

.about{

    width:90%;
    max-width:1200px;

    margin:150px auto;

    display:flex;

    align-items:center;

    gap:80px;

}

.about-image{

    flex:1;

}



.about-image img{

    width:100%;

    max-width:350px;

    border-radius:20px;

    margin-top: 30px;

}

.about-content{

    flex:1;

}

.section-title{

    color:#64FFDA;

    font-size:18px;

    margin-bottom:15px;

}

.about-content h2{

    font-size:42px;

    margin-bottom:25px;

}

.about-content p{

    color:#8892B0;

    line-height:1.8;

    margin-bottom:20px;

}

.about-info{

    display:flex;

    gap:60px;

    margin-top:30px;

}

.about-info h4{

    color:#CCD6F6;

}

.about-info span{

    color:#64FFDA;

}




/* =========grid for skill section==== */

/* ================= SKILLS ================= */

.skills{

    width:90%;
    max-width:1200px;

    margin:150px auto;

}

.skills h2{

    text-align:center;

    font-size:42px;

    margin-bottom:15px;

}

.skills .section-title{

    text-align:center;

    margin-bottom:10px;

}

.skills-container{

    margin-top:60px;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:30px;

}



/* ========card css==== */

.skill-card{

    background:#112240;

    border-radius:15px;

    padding:35px;

    text-align:center;

    transition:all .3s ease;

    cursor:pointer;

}



/* ======logo style css */


.skill-card img{

    width:70px;

    height:70px;

    object-fit:contain;

    margin-bottom:20px;

}

/* ========skill name style====== */


.skill-card h3{

    font-size:22px;

    color:#CCD6F6;

}


/* =======hover effect for skill ==== */


.skill-card:hover{

    transform:translateY(-10px);

    background:#64FFDA;

}



/* =====change colour on hover===== */


.skill-card:hover h3{

    color:#0A192F;

}


/* ================= PROJECTS ================= */

.projects{

    width:90%;

    max-width:1200px;

    margin:150px auto;

}

.projects h2{

    text-align:center;

    font-size:42px;

    margin-bottom:60px;

}

.projects .section-title{

    text-align:center;

}

.projects-container{

    display:grid;

    gap:40px;

}

/* =======project  card=== */

.project-card{

    background:#112240;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

}


/* =======project image=== */
.project-card img{

    width:100%;

    height:300px;

    object-fit:cover;

}




/* =======project content==== */


.project-content{

    padding:35px;

}

.project-content h3{

    font-size:28px;

    margin-bottom:20px;

}

.project-content p{

    color:#8892B0;

    line-height:1.8;

}



/* ===========technology tags===== */

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin:25px 0;

}

.tech-stack span{

    background:#233554;

    color:#64FFDA;

    padding:8px 15px;

    border-radius:30px;

    font-size:14px;

}


/* ======project buttons==== */

.project-buttons{

    display:flex;

    gap:20px;

}

.project-buttons a{

    text-decoration:none;

    color:#64FFDA;

    border:1px solid #64FFDA;

    padding:12px 24px;

    border-radius:6px;

    transition:.3s;

}

.project-buttons a:hover{

    background:#64FFDA;

    color:#0A192F;

}



/* ======project hover effect ======== */

.project-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.35);

}




/* ======contact css===== */

/* ================= CONTACT ================= */

.contact{

    width:90%;
    max-width:900px;

    margin:150px auto;

    text-align:center;

}

.contact h2{

    font-size:42px;

    margin-bottom:20px;

}

.contact-text{

    color:#8892B0;

    line-height:1.8;

    max-width:700px;

    margin:0 auto 50px;

}

.contact-links{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

    margin-bottom:50px;

}

.contact-links a{

    text-decoration:none;

    color:#64FFDA;

    border:1px solid #64FFDA;

    padding:15px 30px;

    border-radius:8px;

    transition:.3s;

}

.contact-links a:hover{

    background:#64FFDA;

    color:#0A192F;

}

.resume-download{

    display:inline-block;

    text-decoration:none;

    background:#64FFDA;

    color:#0A192F;

    padding:16px 35px;

    border-radius:8px;

    font-weight:600;

    transition:.3s;

}

.resume-download:hover{

    transform:translateY(-5px);

}




/* ========foooter section style==== */

/* ================= FOOTER ================= */

.footer{

    margin-top:100px;

    padding:50px 20px;

    text-align:center;

    background:#081321;

}

.footer h3{

    color:#64FFDA;

    margin-bottom:10px;

}

.footer p{

    color:#8892B0;

}

.footer-links{

    margin:25px 0;

    display:flex;

    justify-content:center;

    gap:30px;

    flex-wrap:wrap;

}

.footer-links a{

    text-decoration:none;

    color:#CCD6F6;

    transition:.3s;

}

.footer-links a:hover{

    color:#64FFDA;

}




/* ==========responsive website===== */


@media(max-width:768px){

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .navbar{
        flex-direction:column;
    }

    .projects-container{
        grid-template-columns:1fr;
    }

}